.spot-show-features{
    display: flex;

}


.spot-show-icons{
    font-size: 39px;
}

.spot-show-features{
    margin-top: 5%;
    margin-bottom: 5%;
}

.features-text-title{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 1%;
}

.features-text-container{
    margin-left: 5%;
}
