ul { list-style-type: none; }

.spots-index {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
    /* background-color: lightblue; */
    column-gap: 1.62%;
}

.filter-spot-filter-button{
    margin-left: 78%;
    margin-top: 1%;
    /* margin-right: 80%; */
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    border-color: grey;
}
