.current-user-spots{
    margin-left: 27%;
    margin-right: 27%;
    display: flex;
    flex-direction: rows;
    gap:25px
}

.update-spot-button{
    margin-top: 10px;
    background-color: rgb(255,56,92);
    color: white;
    border-radius: 7px;
    height:28px;
    font-size: 18px;
    width: 90%;
    /* align-items: center; */
    justify-content: center;
    display:flex;
    padding-top: 0.5%;
}

.current-spot-card{
    display: flex;
    width: 305.64px;
    border-radius: 15px;
    flex-flow: column;
    text-decoration: none;
    color: black;
}

.current-spot-card-image{
    display: flex;
    height: 280px;
    width: 273px;
    border-radius: 15px;
    margin-top: 30px;
}

div .spot-card-price{
    font-weight: bold;
    /* background-color: lightgoldenrodyellow; */
}

.current-spot-card-title{
    margin-bottom: -6%;
}
