li { list-style-type: none; }

.spot-card{
    display: flex;

    width: 300px;
    margin: 5px;
    border-radius: 15px;
    margin-top: 30px;
    flex-flow: column
}

.spot-card-image{
    display: flex;
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 15px;
    margin-top: 30px;
}

div #spot-card-title{
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    font-weight: bold;
}

div .spot-card-text{
    margin-bottom: 10px;
}

div .spot-card-price{
    font-weight: bold;
    background-color: lightgoldenrodyellow;
}
