li { list-style-type: none; }

.spot-card{
    display: flex;
    width: 18.7%;
    border-radius: 15px;
    flex-flow: column;
    text-decoration: none;
    color: black;
}

.spot-card-image{
    height: 280px;
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 8px;;
}

div #spot-card-title{
    display: flex;
    justify-content: space-between;
    /* background-color: lightcoral; */
    font-weight: bold;
    padding-bottom: 3px;
    padding-right: 3px;
    margin-top: 5px;
}

div .spot-card-text{
    margin-bottom: 10px;
}

div .spot-card-price{
    font-weight: bold;
    /* background-color: lightgoldenrodyellow; */
}
