.edit-spot-form-container{
    margin-left: 27%;
    margin-right: 27%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 90px;

}

.spot-edit-input-box{
    width: 100%;
    height: 30px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 8px;
    border: 0.5px solid grey;
}

.edit-spot-button{
    margin-top: 4%;
    background-color: rgb(255,56,92);
    color: white;
    width: 102%;
    border: none;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-spot-button{
    background-color: rgb(255,56,92);
    color: white;
    width: 90%;
    border: none;
    font-size: 18px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3%;
}

.spot-edit-current-info{
    margin-top: 8px;
    margin-right: 5%
}

.delete-spot-btn-container{
    /* background-color: aqua; */
    margin-top: 5%;
    margin-left: 3%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left:6%;
    border: 1px solid lightgray;
}

.delete-spot-btn-word{
    font-weight: 700;
    margin-bottom: 1%;
}


@media screen and (max-width: 2200px) and (min-width: 1901px){
    .edit-spot-form-container {
        margin-left: 18%;
        margin-right: 18%;
    }
}

@media screen and (max-width: 1900px) and (min-width: 1601px){
    .edit-spot-form-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1600px) {
    .edit-spot-form-container {
        margin-left: 2%;
        margin-right: 2%;
    }
}
