.edit-spot-form-container{
    margin-left: 27%;
    margin-right: 27%;
    display:grid;
    grid-template-columns: 1fr 1fr;

}

.spot-edit-input-box{
    width: 100%;
    height: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.edit-spot-button{
    margin-top: 4%;
    background-color: rgb(255,56,92);
    color: white;
    width: 102%;
    border: none;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-spot-button{
    margin-top: 10%;
    background-color: rgb(255,56,92);
    color: white;
    width: 90%;
    border: none;
    font-size: 18px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.spot-edit-current-info{
    margin-top: 8px;
    margin-right: 5%
}
