.spot-show-container {
    /* background-color: lightcyan; */
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 1%;
}

.spot-show-second-container {
    display: flex;
    /* background-color: aqua; */
    gap:6.5%;
    position: relative;
}

.title-review-text{
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.image-container {
    display: flex;
    margin-top: 30px;
    gap: 2%;
    margin-bottom: 30px;
    height: 500px;

    border-radius: 25px;
}

.main-image {
    width: 49%;
    border-radius: 25px;
}

.small-image-container{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3%;
}

.small-image {
    width: 276px;
    height: 242.5px;
    border-radius: 25px;
}

.spot-show-price-container {
    border: 1px solid grey;
    border-radius: 25px;
    padding: 20px;
    /* background-color: bisque; */
    height: 50%;
    box-shadow: 0 0 5px grey;
}

.single-review-container {
    display: grid;
}

.spot-show-description {
    margin-top: 5%;
    font-size: 16px;
    margin-bottom: 5%;
}

span #next-to-right {
    float: inline-end;
}

.review-name {
    font-weight: bold;
}

.review-date {
    padding-bottom: 5px;
    color: gray
}

.review-text {
    padding-bottom: 5px;
}

#space-line-fifth {
    margin-top: 25px;
    border: none;
}

.single-review-container {
    width: 70%;
}

.review-big-container {
    margin-top: 30px;
}

.experience-input-box {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 49.5%;
    height: 80px;
    top: 100px;
    border-radius: 8px;
}

#experience-text {
    font-weight: bold;

}

.select-box {
    margin-left: 27.2%;
    height: 40px;
    border-radius: 8px;
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-line-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}

.spot-show-price {
    font-weight: bold;
    font-size: 20px;
}

.spot-show-price-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3%;
    height: 100%;
}

#add-review-button1 {
    margin-left: 0px;
    padding: 0;
}

.select-star-text {
    font-weight: bold;
    width: 25%
}

.star-container {
    padding-top: 6px;
    width: 25%;
}

.star {
    cursor: pointer;
}

.review-submit-button {
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(255, 56, 92);
    color: white;
    font-size: 20px;
    width: 50%;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
}

.spot-show-name {
    margin-bottom: 5%;
}

.spot-show-calendar {
    margin-top: 5%;
}

input[type="radio"] {
    display:none
}

.spot-show-price-third-container{
    height: 50%;
    position: sticky;
    top: 5%;
}

.spot-show-description-container{
    width: 58%;
}

.review-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



@media screen and (max-width: 2400px) and (min-width: 1901px){
    .spot-show-container {
        margin-right: 20%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 1900px) and (min-width: 1601px){
    .spot-show-container  {
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1201px) {
    .spot-show-container  {
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 1200px)  {
    .spot-show-container  {
        margin-right: 0%;
        margin-left: 0%;
    }

}
