.delete-spot-image{
    width: 180px;
    margin-bottom: 3%;
}

.delete-spot-images-div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px;
    gap:10px;
    /* background-color: aliceblue; */
    margin-right: 22%;
    border-top: 1px solid lightgrey;
}

.delete-image-container{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 5%;
}
