.booking-page-container{
    margin-left: 27%;
    margin-right: 27%;
}

.booking-card{
    display: flex;
    border: 1px solid gray;
    border-radius: 15px;
    margin-top: 3%;
}

.booking-card-image{
    width:50%
}
























.review-card-name{
    font-weight: bold;
}

.delete-review-button{
    background-color: rgb(255,56,92);
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: 50px;
    font-size: medium;
}

.space-review-form{
    margin:30px
}

.all-review{
margin-left:39%;
margin-right:39%;
}
