ul {
    list-style-type: none;
}

.spots-index-all {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 850px;
}

.filter-button {
    margin-bottom: 1%;
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    border-color: grey;
}

#filter-icon {
    margin-right: 10%;
}

.spots-left-right{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.spots-index-map{
    /* max-width: 50%; */
    max-width: 64%;
    position: fixed;
    padding-left: 34%;
    top: 120px;
}

.spots-left-big{
    max-width: 36%;
    z-index: 999;
}
.filter-button-container{
    display: flex;
    flex: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 2%;
}

.filter-button-left-words{
    font-size: 20px;
    font-weight: 500;
    padding-top: 4px;
}


/* @media screen and (max-width: 2200px) and (min-width: 1901px){
    .spots-index-all {

    }
}

@media screen and (max-width: 1900px) and (min-width: 1601px){
    .spots-index-all {

    }
}

@media screen and (max-width: 1600px) {
    .spots-index-all {

    }
} */
