ul { list-style-type: none; }

.spots-index {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width:70%;
    margin-left: 12%;
    padding-left: 4%;
    /* padding: 100px; */
    background-color: lightblue;
    gap:25px;
    position:fixed
}

#spots-index-container{
    background-color: red;
    align-content: center;
}
