ul {
    list-style-type: none;
}

.spots-index-all {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
    /* background-color: lightblue; */
    column-gap: 1.62%;
}

.filter-button {
    margin-left: 78%;
    margin-top: 1%;
    /* margin-right: 80%; */
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    border-color: grey;
}

#filter-icon {
    margin-right: 10%;
}

@media screen and (max-width: 2200px) and (min-width: 1901px){
    .spots-index-all {
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media screen and (max-width: 1900px) and (min-width: 1601px){
    .spots-index-all {
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 1600px) {
    .spots-index-all {
        margin-left: 0;
        margin-right: 0;
    }
}
