#nav-left {
    /* background-color: yellow; */
    display: flex;
    align-items: flex-end;

    margin-left: 18%;
    font-weight: bold;
    font-size: 30px;
    width: 56%
}

#nav-right {
    /* background-color: brown; */
    margin-right: 18.3%;
    font-size: 30px;
    display: flex;
    justify-content: right;
    width: 18%;
    flex-direction: row;
}

#space-line {
    margin-right: 18%;
    margin-left:17.8%;
    width: 64%;
    margin-top: 30px
}

#space-line-single{
    margin-right: 27%;
    margin-left:27%;
    margin-top: 30px
}

#nav-left-single {

    /* background-color: yellow; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 27%;
    font-weight: bold;
    font-size: 30px;
    width: 56%;
}

#nav-right-single {
    /* background-color: brown; */
    margin-right: 27%;
    font-size: 30px;
    display: flex;
    justify-content: right;
    width: 25%;
    flex-direction: row;
}

#nav-header {
    display: flex;
    padding-top: 20px;
}

.nav-container-home {
    height: 100px
}

.Become-host-button{
    text-decoration: none;
    padding-right: 30px;
    color:black;
    font-size: 18px;
    margin-top: 3%;
    font:  "Fira Sans", sans-serif;
    cursor: pointer;
}

.Become-host-button-nouser{
    border: none;
    background-color: white;
    font-size: 18px;
    padding-right: 20px;
    cursor: pointer;
}

.Become-host-button-nouser:hover {
    color: rgb(255,56,92);
    font-weight: bold;
}

.Become-host-button:hover {
    color: rgb(255,56,92);
    font-weight: bold;
}

.logo-text{
    text-decoration: none;
    color: rgb(255,56,92);
    font: italic small-caps bold 24px/2 cursive;
}

.search-bar-div{
    margin: 0 auto;
}

.logo-img{
    width:25px;
    height:25px;
    padding-right: 2px;
}









/* @media screen and (max-width: 1024px) {
    #nav-left {
        margin-left: 1%;
        /* background-color: yellow;
        display: flex;
        align-items: flex-end;


        font-weight: bold;
        font-size: 30px;
        width: 56% */
    /* } */

    /* #nav-right {
        /* background-color: brown; */
        /* margin-right: -30%;
        justify-content: right;
        display: flex;
        flex-direction: row;

        font-size: 30px;
        width: 18%;

    } */
    /* #nav-header {
        display: flex;
        padding-top: 20px;
    }
  /* } */
