#nav-left {
    /* background-color: yellow; */
    display: flex;
    align-items: flex-end;

    margin-left: 18%;
    font-weight: bold;
    font-size: 30px;
    width: 56%
}

#nav-right {
    /* background-color: brown; */
    margin-right: 18.3%;
    font-size: 30px;
    display: flex;
    justify-content: right;
    width: 18%;
    flex-direction: row;
}

#space-line {
    width: 100%;
    margin-top: 30px
}

#space-line-single{
    margin-top: 30px
}

#nav-left-single {

    /* background-color: yellow; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 27%;
    font-weight: bold;
    font-size: 30px;
    width: 56%;
}

#nav-right-single {
    /* background-color: brown; */
    margin-right: 27%;
    font-size: 30px;
    display: flex;
    justify-content: right;
    width: 25%;
    flex-direction: row;
}

#nav-header {
    display: flex;
    padding-top: 20px;
}

.nav-container-home {
    height: 100px
}

.Become-host-button{
    text-decoration: none;
    padding-right: 30px;
    color:black;
    font-size: 18px;
    margin-top: 3%;
    font:  "Fira Sans", sans-serif;
    cursor: pointer;
}

.Become-host-button-nouser{
    border: none;
    background-color: white;
    font-size: 18px;
    padding-right: 20px;
    cursor: pointer;
}

.Become-host-button-nouser:hover {
    color: rgb(255,56,92);
    font-weight: bold;
}

.Become-host-button:hover {
    color: rgb(255,56,92);
    font-weight: bold;
}

.logo-text{
    text-decoration: none;
    color: rgb(255,56,92);
    font: italic small-caps bold 24px/2 cursive;
}

.search-bar-div{
    margin: 0 auto;
}

.logo-img{
    width:25px;
    height:25px;
    padding-right: 2px;
}


@media screen and (max-width: 2200px) and (min-width: 1901px){
    #nav-right {
        margin-right: 0;
    }
    #nav-left{
        margin-left: 12%;
    }
    #nav-right-single {
        margin-right: 0;
    }
    #nav-left-single{
        margin-left: 12%;
    }
}

@media screen and (max-width: 1900px) and (min-width: 1601px){
    #nav-right {
        margin-right: 3%;
        width: 50%;
    }
    #nav-left{
        margin-left: 3%;
    }
    #nav-right-single {
        margin-right: 3%;
        width: 50%;
    }
    #nav-left-single{
        margin-left: 3%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1201px) {
    #nav-right {
        margin-right: 0;
        width: 50%;
    }
    #nav-left{
        margin-left: 0;
    }
    #nav-right-single {
        margin-right: 0;
        width: 50%;
    }
    #nav-left-single{
        margin-left: 0;
    }
}

@media screen and (max-width: 1200px)  {
    #nav-right {
        margin-right: 0;
        width: 40%;
    }
    #nav-left{
        margin-left: 0;
        justify-content: center;
    }
    #nav-right-single {
        margin-right: 0;
        width: 40%;
    }
    #nav-left-single{
        margin-left: 0;
        justify-content: center;
    }
}
