.profile-dropdown {
    background-color: rgb(233,233,233);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 13em;
    background-color: white;
    border: 2px solid rgb(241, 241, 241);

    margin-top: 2.2%;;
    margin-right: 15%;
    border-radius: 20px;
    font-size: 13px;
    color: black;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 18px;
    right:3.4%;
    padding-bottom: 20px;
}

.profile-dropdown-single{
    background-color: white;
    border: 2px solid rgb(241, 241, 241);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 13em;
    margin-top: 2.2%;;
    margin-right: 15%;
    border-radius: 20px;
    font-size: 13px;
    color: black;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 10px;
    right:12%;
    padding-bottom: 20px;
}

.drop-down-item {
    padding-bottom: 15px;
    padding-top:10px;
    text-decoration: none;
}

.drop-down-item1 {
    padding-bottom: 15px;
    padding-top:10px;
    text-decoration: none;
}

.drop-down-item:hover {
    background-color: lightgray;
}

.profile-button-container{
    width:50%;
}

.profile-button{

    border:none;
    background-color: white;
    float: right;
}

.profile-button-img{
    float: right;
    width:50%;

}

.logout-button{
    background-color: rgb(255,56,92);
    color: white;
    width: 70%;
    border: none;
    padding-bottom: 5px;
    border-radius: 6px;
}

.logout-button{
    cursor: pointer;
}
